#background {
    filter: grayscale(100%);
    position: fixed;
    z-index: -2;
    height:100%;
    width: 100%;
    left:0px;
    top:0px;
}
table, th, td {
        border: 1px solid black;
        text-align: center;
}
table {
    background:transparent;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

.button{
    padding: 15px 32px;
    font-size: 24px;
    width: 100%;
    background-color: white;
    color: black;
    border: 2px solid grey;
    display: flex; 
    justify-content: center;
}
.button:hover {
    background-color:grey; 
    color: white;
}